<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Analytics</h3>
    </div>

    <div class="modal-body row">
        <div class="container col-md-12 body-analytics-modal">
            <div class="row">
                <div class="table-responsive col-md-6">
                    <table class="table table-stripped table-hover table-condensed">
                        <caption>Summary</caption>
                        <tbody>
                            <tr paire-entry-table name="Elevation dispersion" value="{{stats.elevation.stdev}}"></tr>
                            <tr paire-entry-table name="Elevation skew" value="{{stats.elevation.pearsonSkew}}"></tr>
                            <tr paire-entry-table name="Jaggedness" value="{{stats.roughness.jaggedness}}"></tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive col-md-6">
                    <table class="table table-stripped table-hover table-condensed">
                        <caption>&nbsp;</caption>
                        <tbody>
                            <tr paire-entry-table name="Slope dispersion" value="{{stats.slope.stdev}}"></tr>
                            <tr paire-entry-table name="Slope skew" value="{{stats.slope.groeneveldMeedenSkew}}"></tr>
                            <tr paire-entry-table name="Ruggedness" value="{{stats.roughness.terrainRuggednessIndex}}"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div id="elevation" class="col-md-6">
                    <div class="table-responsive">
                        <table class="table table-stripped table-hover table-condensed">
                            <caption>Elevation <span class="glyphicon glyphicon-triangle-bottom collapser" ng-click="toggleElevation()"></span></caption>
                            <tbody uib-collapse="isElevationCollapsed">
                                <tr paire-entry-table name="Sample size" value="{{stats.elevation.sampleSize}}"></tr>
                                <tr paire-entry-table name="Min" value="{{stats.elevation.min}}"></tr>
                                <tr paire-entry-table name="Max" value="{{stats.elevation.max}}"></tr>
                                <tr paire-entry-table name="Range" value="{{stats.elevation.range}}"></tr>
                                <tr paire-entry-table name="Midrange" value="{{stats.elevation.midrange}}"></tr>
                                <tr paire-entry-table name="Median" value="{{stats.elevation.median}}"></tr>
                                <tr paire-entry-table name="IQR" value="{{stats.elevation.iqr}}"></tr>
                                <tr paire-entry-table name="Mean" value="{{stats.elevation.mean}}"></tr>
                                <tr paire-entry-table name="Std dev" value="{{stats.elevation.stdev}}"></tr>
                                <tr paire-entry-table name="MAD" value="{{stats.elevation.mad}}"></tr>
                                <tr paire-entry-table name="Mode" value="{{stats.elevation.modes}}"></tr>
                                <tr paire-entry-table name="Pearson skew" value="{{stats.elevation.pearsonSkew}}"></tr>
                                <tr paire-entry-table name="G&amp;M skew" value="{{stats.elevation.groeneveldMeedenSkew}}"></tr>
                                <tr paire-entry-table name="Kurtosis" value="{{stats.elevation.kurtosis}}"></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="histogram-container" uib-collapse="isElevationCollapsed">
                        <canvas id="elevation-graph" class="histogram"></canvas>
                        <div class="graph-label">Elevation Histogram</div>
                    </div>
                </div>
                <div id="elevation" class="col-md-6">
                    <div class="table-responsive">
                        <table class="table table-stripped table-hover table-condensed">
                            <caption>Slope <span class="glyphicon glyphicon-triangle-bottom collapser" ng-click="toggleSlope()"></span></caption>
                            <tbody uib-collapse="isSlopeCollapsed">
                                <tr paire-entry-table name="Sample size" value="{{stats.slope.sampleSize}}"></tr>
                                <tr paire-entry-table name="Min" value="{{stats.slope.min}}"></tr>
                                <tr paire-entry-table name="Max" value="{{stats.slope.max}}"></tr>
                                <tr paire-entry-table name="Range" value="{{stats.slope.range}}"></tr>
                                <tr paire-entry-table name="Midrange" value="{{stats.slope.midrange}}"></tr>
                                <tr paire-entry-table name="Median" value="{{stats.slope.median}}"></tr>
                                <tr paire-entry-table name="IQR" value="{{stats.slope.iqr}}"></tr>
                                <tr paire-entry-table name="Mean" value="{{stats.slope.mean}}"></tr>
                                <tr paire-entry-table name="Std dev" value="{{stats.slope.stdev}}"></tr>
                                <tr paire-entry-table name="MAD" value="{{stats.slope.mad}}"></tr>
                                <tr paire-entry-table name="Mode" value="{{stats.slope.modes}}"></tr>
                                <tr paire-entry-table name="Pearson skew" value="{{stats.slope.pearsonSkew}}"></tr>
                                <tr paire-entry-table name="G&amp;M skew" value="{{stats.slope.groeneveldMeedenSkew}}"></tr>
                                <tr paire-entry-table name="Kurtosis" value="{{stats.slope.kurtosis}}"></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="histogram-container" uib-collapse="isSlopeCollapsed">
                        <canvas id="slope-graph" class="histogram"></canvas>
                        <div class="graph-label">Slope Histogram</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive col-md-6">
                    <table class="table table-stripped table-hover table-condensed">
                        <caption>Roughness metrics</caption>
                        <tbody>
                            <tr paire-entry-table name="2D to 3D area ratio" value="{{stats.roughness.planimetricAreaRatio}}"></tr>
                            <tr paire-entry-table name="Ruggedness Index" value="{{stats.roughness.terrainRuggednessIndex}}"></tr>
                            <tr paire-entry-table name="Jaggedness" value="{{stats.roughness.jaggedness}}"></tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive col-md-6">
                    <table class="table table-stripped table-hover table-condensed">
                        <caption>Fitted Plane</caption>
                        <tbody>
                            <tr paire-entry-table name="Slope" value="{{stats.fittedPlane.slope}}"></tr>
                            <tr paire-entry-table name="Var. explained" value="{{stats.fittedPlane.pctExplained}}"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="close()">Close</button>
    </div>
</div>