<div class="controlPanel">
        <div uib-collapse="!status.menu">
                <uib-accordion close-others="true">
                        <div uib-accordion-group class="panel-default" is-open="status.heightmap.open">
                                <uib-accordion-heading>
                                        <button type="button" class="btn btn-default btn-accordeon">Heightmap<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.heightmap.open, 'glyphicon-chevron-right': !status.heightmap.open}"></i></button>
                                </uib-accordion-heading>
                                <table class="table table-stripped table-hover table-condensed">
                                        <tbody>
                                                <tr>
                                                        <td>
                                                                Heightmap
                                                                <select class="form-control form-select" ng-model="settings.heightmap.selected" ng-options="o as o for o in settings.heightmap.options" ng-change="refresh()"></select>
                                                        </td>
                                                </tr>
                                                <tr>
                                                        <td>
                                                                Easing
                                                                <select class="form-control form-select" ng-model="settings.easing.selected" ng-options="o as o for o in settings.easing.options" ng-change="refresh()"></select>
                                                        </td>
                                                </tr>
                                                <tr>
                                                        <td>
                                                                Smoothing
                                                                <select class="form-control form-select" ng-model="settings.smoothing.selected" ng-options="o as o for o in settings.smoothing.options" ng-change="updateSmoothing()"></select>
                                                        </td>
                                                </tr>
                                                <tr><td>Segments<input type="number" class="form-control form-number" ng-model="settings.segments" min="7" max="127" ng-change="refresh()"></td></tr>
                                                <tr><td>Steps<input type="number" class="form-control form-number" ng-model="settings.steps" min="1" max="8" ng-change="refresh()"></td></tr>
                                                <tr><td>Turbulent<input type="checkbox" class="form-check-input checkbox-control" ng-model="settings.turbulent" ng-change="refresh()"></td></tr>
                                        </tbody>
                                </table>
                        </div>
                </uib-accordion>
                <uib-accordion close-others="true">
                        <div uib-accordion-group class="panel-default" is-open="status.decoration.open">
                                <uib-accordion-heading>
                                        <button type="button" class="btn btn-default btn-accordeon">Decoration<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.decoration.open, 'glyphicon-chevron-right': !status.decoration.open}"></i></button>
                                </uib-accordion-heading>
                                <table class="table table-stripped table-hover table-condensed">
                                        <tbody>
                                                <tr>
                                                        <td>
                                                                Texture
                                                                <select class="form-control form-select" ng-model="settings.texture.selected" ng-options="o as o for o in settings.texture.options" ng-change="refresh()"></select>
                                                        </td>
                                                </tr>
                                                <tr>
                                                        <td>
                                                                Scattering
                                                                <select class="form-control form-select" ng-model="settings.scattering.selected" ng-options="o as o for o in settings.scattering.options" ng-change="updateScattering()"></select>
                                                                </td>
                                                        </tr>
                                                <tr><td>Spread<input type="number" class="form-control form-number" ng-model="settings.spread" min="0" max="100" ng-change="updateScattering()"></td></tr>
                                                <tr><td>Light color<input type="color" class="form-control form-color" ng-model="settings.lightColor" ng-change="updateLightColor()"></td></tr>
                                        </tbody>
                                </table>
                        </div>
                </uib-accordion>
                <uib-accordion close-others="true">
                        <div uib-accordion-group class="panel-default" is-open="status.size.open">
                                <uib-accordion-heading>
                                        <button type="button" class="btn btn-default btn-accordeon">Size<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.size.open, 'glyphicon-chevron-right': !status.size.open}"></i></button>
                                </uib-accordion-heading>
                                <table class="table table-stripped table-hover table-condensed">
                                        <tbody>
                                                <tr><td>Size<input type="number" class="form-control form-number" ng-model="settings.size" min="1024" max="3072" step="256" ng-change="refresh()"></td></tr>
                                                <tr><td>Max height<input type="number" class="form-control form-number" ng-model="settings.maxHeight" min="2" max="300" step="2" ng-change="refresh()"></td></tr>
                                                <tr><td>Width:Length ratio<input type="number" class="form-control form-number" ng-model="settings.widthLengthRatio" min="0.2" max="2" step="0.05" ng-change="refresh()"></td></tr>
                                        </tbody>
                                </table>
                        </div>
                </uib-accordion>
                <uib-accordion close-others="true">
                        <div uib-accordion-group class="panel-default" is-open="status.edges.open">
                                <uib-accordion-heading>
                                        <button type="button" class="btn btn-default btn-accordeon">Edges<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.edges.open, 'glyphicon-chevron-right': !status.edges.open}"></i></button>
                                </uib-accordion-heading>
                                <table class="table table-stripped table-hover table-condensed">
                                        <tbody>
                                                <tr>
                                                        <td>
                                                                Type
                                                                <select class="form-control form-select" ng-model="settings.edgeType.selected" ng-options="o as o for o in settings.edgeType.options" ng-change="refresh()"></select>
                                                        </td>
                                                </tr>
                                                <tr>
                                                        <td>
                                                                Direction
                                                                <select class="form-control form-select" ng-model="settings.direction.selected" ng-options="o as o for o in settings.direction.options" ng-change="refresh()"></select>
                                                        </td>
                                                </tr>
                                                <tr>
                                                        <td>
                                                                Curve
                                                                <select class="form-control form-select" ng-model="settings.curve.selected" ng-options="o as o for o in settings.curve.options" ng-change="refresh()"></select>
                                                        </td>
                                                </tr>
                                                <tr><td>Distance<input type="number" class="form-control form-number" ng-model="settings.distance" min="0" max="512" step="32" ng-change="refresh()"></td></tr>
                                        </tbody>
                                </table>
                        </div>
                </uib-accordion>
                <table class="table table-stripped table-hover table-condensed">
                        <tbody>
                                <tr><td class="row-button" ng-click="updateScattering()">Scatter meshes</td></tr>
                                <tr><td class="row-button" ng-click="refresh()">Regenerate</td></tr>
                        </tbody>
                </table>
        </div>
        <button type="button" class="btn btn-default btn-accordeon" ng-click="toggle()">{{getText()}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !status.menu, 'glyphicon-chevron-up': status.menu}"></i></button>
</div>