.collapser:hover {
    cursor: pointer
}

.modal-dialog{
    overflow-y: initial !important
}

.body-analytics-modal {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.controlPanel {
    position: absolute;
    right: 0;
}

.controlPanel > .panel-group {
    padding-left: 10px;
}

uib-accordion > .panel-group {
    margin-bottom: 0px;
}

.panel-heading {
    padding: 0 0 0 0 !important
}

.panel-body {
    padding: 0 0 0 0 !important
}

.btn-accordeon {
    padding-left: 50px !important;
    padding-right: 50px !important;
    width: 100%;
}

.table {
    margin-bottom: 0 !important;
}